html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//reset_end

img{
    width: 100%;
}

.main{
  
    width: 80%;
    height: 20%;
    margin: 0 auto;
}
.content{
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 0 5%;
}
img{
    height: 200px;
    border-radius: 50%;
}
.inDiv{
    margin: 5% 0;
 text-align: center;
}

h1{
    font-size: 20px;
font-weight: 800;
}
p{
    font-size: 16px;
    line-height: 1.5;
    color: rgb(188, 185, 185);
}

h1,p{
    margin: 10% 0;

}
button{
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: rgb(226, 220, 220);
    background-color: rgb(256,136,56);
}