html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//reset_end
div div:first-child{
    display: inline-block;
    width: 50%;
}

div div:first-child img:first-of-type {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

div:last-of-type img:last-of-type {
    
    width: 10%;
    height: 10%;

}

h1 {
    font-size: 60px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: gray;
}



body {
height: 100%;
    background-color: rgb(256, 252, 252);
}

input {
    margin: 20px;
    width: 50%;
    height: 5%;
    font-size: 25px;
    border: 2px rgb(207, 200, 200) solid;
    color: rgb(171, 166, 166);
    padding: 5px;
}

button {
    background-color: rgb(41, 183, 41);
    margin: 20px;
    width: 50%;
    height: 5%;
    font-size: 25px;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px gray;
}

h3 {
    font-size: 25px;
    color: rgb(186, 183, 183);
}

h1,
h2,
h3 {
    margin: 20px;
}
form{
    display: inline-block;
    width: 30%;
    height: 100%;
}