html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//reset_end

html {
    height: 100%;
}

body {
    min-height: 100vh;
    max-width: 100%;

}
.firstRow{
	display: inline-block;
margin: 10% 0;
	
}
.main{
	margin: 0 auto;
	width: 80%;
}
img{
	width: 20%;
	height: 20%;
}
.collumn{
	display: inline-block;
	width: 20%;
	height: 49%;
	margin: 0 2.3%;
}
h1{
	font-size: 25px;
	font-weight: bold;
}
p{
	font-size: 20px;
	line-height: 1.5;
	margin: 3% 0;
	color: rgb(155, 150, 150);
}

.secondRow>.collumn{
text-align: center;

}
.secondRow>.collumn>img{
	width: 40%;
	height: 40%;
}