html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  background-image: url("https://media.istockphoto.com/id/583726578/photo/wood-desk-plank-to-use-as-background-or-texture.jpg?s=612x612&w=0&k=20&c=nZuqX58HAgvD5UkumW_z0xfjeKu-hWncgQbstb4k35A=");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  max-width: 400px;
}

body div:first-child {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: auto 0;
}

div:first-of-type div:first-child {
  width: 100%;
  text-align: center;
}

h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: rgb(182, 175, 175);
  margin: 20px;
}

div > div > div {
  position: relative;
  width: 80%;
  height: 40%;
  margin: 0 auto;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  box-sizing: border-box;
}

input {
  position: relative;
  width: 40%;
  height: 60%;
  border-radius: 5px;
  color: rgb(179, 184, 189);
  font-size: 20px;
  padding: 3px;
  margin: 7px;
}

button {
  position: relative;
  width: 25%;
  height: 75%;
  border-radius: 5px;
  background-color: rgb(36, 205, 247);
  color: white;
  vertical-align: top;
  margin: 7px;
}/*# sourceMappingURL=style6.css.map */