$fieldset: 20%;
$borderStyle: solid black 1px;
$textColor: white;

fieldset {
   width: $fieldset;
   padding-top: 1%;
   margin-top: 2%;
}

table {
   margin-top: 2%;
   border-collapse: collapse;
   width: 50%;
}

td {
   border: $borderStyle;
   background-color: rgba(217, 227, 236, 255);
   padding-left: 10px;
}

th {
   border: $borderStyle;
   background-color: rgba(127, 165, 204, 255);
   color: $textColor;
}

th:first-child {
   border: $borderStyle;
   background-color: rgba(127, 165, 204, 255);
   border-radius: 10px;
   color: $textColor;
}

th:last-child {
   border: $borderStyle;
   background-color: rgba(127, 165, 204, 255);
   border-radius: 10px;
   color: $textColor;
}

select {
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: 26%;
   border-radius: 5px;
   width: 30%;
}

button {
   border-radius: 10px;
   background-color: rgba(34, 135, 83, 255);
   color: white;
}

li {
   list-style-type: none;
}

span {
   background-color: green;
   margin-right: 5px;
   border-radius: 50px;
   border: $borderStyle;
   color: white;
}

fieldset>div {
   margin-left: 20px;
   margin-bottom: 20px;
   position: relative;
}

fieldset>div input[type=text] {
   width: 120px;
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: 40%;
}

input[type="radio"]:first-of-type{
   margin-left: 30%
}

button{
   margin-top: 1%;
   margin-left: 18%;
}