fieldset {
  width: 20%;
  padding-top: 1%;
  margin-top: 2%;
}

table {
  margin-top: 2%;
  border-collapse: collapse;
  width: 50%;
}

td {
  border: solid black 1px;
  background-color: rgb(217, 227, 236);
  padding-left: 10px;
}

th {
  border: solid black 1px;
  background-color: rgb(127, 165, 204);
  color: white;
}

th:first-child {
  border: solid black 1px;
  background-color: rgb(127, 165, 204);
  border-radius: 10px;
  color: white;
}

th:last-child {
  border: solid black 1px;
  background-color: rgb(127, 165, 204);
  border-radius: 10px;
  color: white;
}

select {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 26%;
  border-radius: 5px;
  width: 30%;
}

button {
  border-radius: 10px;
  background-color: rgb(34, 135, 83);
  color: white;
}

li {
  list-style-type: none;
}

span {
  background-color: green;
  margin-right: 5px;
  border-radius: 50px;
  border: solid black 1px;
  color: white;
}

fieldset > div {
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
}

fieldset > div input[type=text] {
  width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: 40%;
}

input[type=radio]:first-of-type {
  margin-left: 30%;
}

button {
  margin-top: 1%;
  margin-left: 18%;
}/*# sourceMappingURL=0_design.css.map */