html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  border: solid rgb(177, 173, 173) 1px;
  width: 49%;
  height: 100%;
  text-align: center;
}

body {
  padding: 20%;
  background-color: rgb(243, 243, 243);
  height: 400px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 5%;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  color: gray;
}

div:first-of-type h1 {
  color: rgb(45, 192, 233);
}

h3 {
  color: rgb(187, 184, 184);
}

div:last-of-type h1 {
  color: rgb(247, 121, 37);
}

button {
  height: 50px;
  width: 200px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 3px;
}

div:first-of-type button {
  background-color: rgb(45, 192, 233);
}

div:last-of-type button {
  background-color: rgb(247, 121, 37);
}/*# sourceMappingURL=style2.css.map */