html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

//reset_end
html {
    height: 100%;
}

body {
    background-image: url('https://w0.peakpx.com/wallpaper/410/727/HD-wallpaper-from-the-castle-art-girl-unicorn-flowers-black-horse-clouds-sky.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    max-width: 400px;
    
    
}

.main {
    background-color: rgb(189, 191, 192);
    width: 60%;
    height: 60%;
    position: absolute;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%);
    display: inline-block;
    opacity: 0.9;
    border-radius: 10px;
    

    
}

.firstBox, .secondBox{
    position: relative;
    display: inline-block;
    height: 80%;
    width: 39%;
    margin: 6.2% 5.35%;
    border-radius: 10px;
    opacity: 1;
   
}
div:first-of-type div:first-child{
    background-color: blue;
}
div:first-of-type div:last-child{
background-color: brown;
}

h1{
    color: black;
    font-size:32px;
    font-weight: bold;
}
h1,p{
    margin: 5%;
}