html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  max-width: 100%;
  background-image: url("https://c0.wallpaperflare.com/preview/62/62/449/group-of-people-eating-on-restaurant.jpg");
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
  text-align: left;
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 32px;
  margin: 3%;
}

p {
  margin: 3%;
  color: rgb(217, 210, 210);
  font-size: 25px;
}

button {
  margin: 0 3%;
  width: 20%;
  height: 60px;
  background-color: orange;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}/*# sourceMappingURL=style9.css.map */