html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  background-image: url("https://c1.wallpaperflare.com/preview/835/250/537/office-desk-computer-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  max-width: 100%;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.firstPart {
  width: 49%;
  height: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 20% 0;
}

.secondPart {
  width: 49%;
  height: 100%;
  display: inline-block;
  margin: 13% 0;
}

input, textarea {
  height: 70px;
  width: 60%;
  margin: 3% 0;
  border-radius: 5px;
  display: block;
  margin: 10px;
  box-sizing: border-box;
  padding: 2%;
  font-weight: bold;
  font-size: 15px;
}

.lInput {
  height: 200px;
}

button {
  height: 70px;
  width: 60%;
  font-size: 20px;
  background-color: orange;
  color: white;
  border-radius: 5px;
  margin: 10px;
}

h1 {
  color: rgb(247, 237, 237);
  font-size: 40px;
  margin: 5% 0;
}

p {
  font-size: 25px;
  color: rgb(92, 88, 88);
  margin: 3% 0;
}/*# sourceMappingURL=style8.css.map */