* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size:0;
}

%center {
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: black;
    height: 100px;
    width: 100%;
 
}
form{
    height: 100%;
    width: 80%;
    margin:0 auto;

}

header button {
    color: white;
    display: inline-block;
    background-color: Transparent;
    background-repeat: no-repeat;
    font-size: 40px;
    height: 100%;
    padding: 20px;
    border-right: white 1px solid;
}

body {
    background-color: gray;
}

div {
    margin-top: 1%;
    background-color: white;
    display: block;
    @extend %center;
    width: 70%;
    padding: 20px;
}

div>div {

    display: inline-block;
    width: 50%;
    margin-top: 0;
    padding: 0;
}
h1{
    font-size: 32px;
  
}
p{
    font-size:16px;
}